* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #cdc5c9e0;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
}

.contenedor {
	width: 1200px;
	margin: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 58px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 80px;
	text-transform: uppercase;
	color: rgb(3, 3, 3);
	border: 5px solid rgba(7, 7, 7, 0.666);
	padding: 5px 10px;
	display: inline-block;
}

.contenedor-botones {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.boton {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	transition: .3s ease all;
	position: relative;
	overflow: hidden;
	cursor: pointer;
    background: linear-gradient(rgba(138, 197, 227, 0.403), rgb(81, 78, 78));
    border-radius: 50px;
    border: rgba(255, 255, 255, 0.754) 2px solid;
}

.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}